// Font Family Variables
$font-Ubuntu: "Ubuntu", sans-serif;

// Color Variables
$black: #000000;
$gray: #00000029;
$white: #FFFFFF;
$orange: #F57C52;
$red: #D63548;
$pink: #DA291C33;
$gradient-1: transparent linear-gradient(297deg, #F57C52 0%, #D63548 100%) 0% 0% no-repeat padding-box;


// Font size variables
$xs-text: .75rem;
$sm-text: 14px;
$md-text: 1rem;
$lg-text: 36px;
$xl-text: 1.5rem;
$xxl-text: 2rem;